*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Zain;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
}

/******* HEADER *******/

header{
    padding: 25px 2%;
    background-color: #120314;
    height: 130px;
}
.logo{
    float: left;
    padding: 8px 2%;
    
}

.logo img{
    width: 150px;
    height: 70px;
}

nav.menu-desktop{
    float: right;
    position: relative;
    top: 30px;
}

nav.menu-desktop ul{
    list-style-type: none;
}

nav.menu-desktop ul li{
    float: left;
    padding: 0 30px;
    font-size: 28px;
}

nav.menu-desktop ul li a{
    text-decoration: none;
    color: white;
}

.menu-mobile{
    display: none;
}

nav.menu-mobile ul{
    list-style-type: none;
}

nav.menu-mobile ul li{
    float: left;
    padding: 0 30px;
    font-size: 28px;
}

nav.menu-mobile ul li a{
    text-decoration: none;
    color: white;
}

/***/

/***** SECTION BANNER *****/

section.banner{
    width: 100%;
    height: calc(100vh - 130px);
    min-height: 600px;
    background-color: white;
    background-image: url('../images/xbox.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 70px;
}

.text-bn-single{
    width: 314px;
    font-style: italic;
    margin-top: 30px;
    height: 70px;
    line-height: 70px;
    padding-left: 40px;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
}

.text-banner .text-bn-single:nth-of-type(1){
    background-image: url('../images/box-texto-blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text-banner .text-bn-single:nth-of-type(2){
    background-image: url('../images/box-texto-blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 220px;
}

.text-banner .text-bn-single:nth-of-type(3){
    background-image: url('../images/box-text-blue-inv.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 220px;
}

.text-banner .text-bn-single:nth-of-type(4){
    background-image: url('../images/box-texto-black.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 20px;
}


/**** ENTRANDO NO RESPONSIVO ****/

@media screen and (max-width: 768px){
    header .container{
        height: auto;
        text-align: center;
    }

    .logo{
        float: none;
        display: inline-block; 
    }

    nav.menu-desktop{
        display: none;
    }

    section.banner{
        background-size: cover;
        background-position: 100px center;
        height: 80vh;
    }
}

@media screen and (max-width: 580px){

    .text-banner{
        padding: 30px;
    }

    .text-bn-single{
        width: 240px;
        font-size: 20px;
    }
}